
{% load staticfiles %}
<head>
<link rel='stylesheet' href='{% static "css/base.css" %}' />
<br>
</head>
<body>
<h1> HELLO PEOPLE </h1>
<form action="detail"  method="post" onsubmit="return validateForm()" >
    <input type="radio" name="product" value="live" onclick="populate(this.value)"> QOS live<br>
    <input type="radio" name="product" value="vod" onclick="populate(this.value)"> QOS vod<br>
    <input type="radio" name="product" value="sm" onclick="populate(this.value)"> Security Monitor<br>
    <br><br>
     AnalyzerId <input type="text" name="AnalyzerId" value='' id="aid">
   <!--  <br> <br> AnalyzerName <input type="text" name="AnalyzerName" value=""><br> -->
     <br><br> 

    <input type="checkbox" name="machine" value="sjc1" checked> sjc1 <br>
    <input type="checkbox" name="machine" value="dfw1" checked> dfw1 <br>
    <input type="checkbox" name="machine" value="iad1" checked> iad1 <br>

     From Time : <input type="datetime-local" name="from_time" id='f_time' value=''> <br>
     To Time : <input type='datetime-local' name="to_time" id='t_time' value=''> <br> <br>
     <input type="checkbox" name="CubeType" value="c_c" checked>Console Cube<br>
     <input type="checkbox" name="CubeType" value="t_c" >Time Cube<br>

     <input type="submit" value="Submit"  onsubmit="return validateForm()" >
</form>
</body>
<script type="text/javascript" src='{% static  "js/form_validation.js" %}' > </script>
