<br>
<br>
{% with name="World" greeting="Hello" %}
<form action= "{% url "views.detail" {{name}} %}"  method='post'>
    <input type="radio" name="product" value="QOSl"> QOS live<br>
    <input type="radio" name="product" value="QOSv"> QOS vod<br>
    <input type="radio" name="product" value="SM"> Security Monitor<br>
    <br><br>
     AnalyzerId <input type="text" name="AnalyzerId" value="">
     <br> <br> AnalyzerName <input type="text" name="AnalyzerName" value=""><br>
     <br><br> 
     <input type="radio" name="CubeType1" value="QOSl">Console Cube<br>
     <input type="radio" name="CubeType2" value="QOSv">Time Cube<br>
     <input type="submit" value="Submit">
</form>
{% endwith %}
